a {
    text-decoration: none;
    color: inherit;
}
input, textarea {
    border: 1px solid $bg-blue;
    background-color: $bg-lightBlue;

    &:focus {
        border: 1px solid $bg-blue !important;
        box-shadow: 0 0 0 0.25rem $bg-lightBlue !important;
    }
}
label {
    font-weight: 700;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
hr {
    width: 80%;
    max-width: 340px;
    height: 2px;
    margin: auto;
}

ion-icon {
    color: $bg-blue;
}

ion-icon {
    font-size: 40px;
}
