// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors:

$bg-lightBlue: #E5E6FF;
$bg-blue: #7879F1;

// Breakpoints:
$tablet: 768px;
$large: 1024px;
$xlarge: 1440px;
$XXL: 1920px;
