footer {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: $bg-lightBlue;

    .top-div{
        @media screen and (min-width: $large) {
            width: 80%;
            margin: auto;
            display: flex;
            flex-flow: row wrap;
            gap: 2rem;
            align-items: center;
            justify-content: space-around;

            ul {
                margin: 2rem 0;
                gap: 0;
            }
        }
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        ul {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
    }
    .bottom-div{
        p {
            color: $bg-blue;
            font-weight: 700;
            font-size: 1rem;
        }
    }
}
