.navbar {
    background-color: $bg-blue !important;

    .container {
        color: $bg-lightBlue;

        button {
            width: 25px;
            height: 25px;
            margin: 0;
            padding: 0;
            border: none !important;
            box-shadow: none !important;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap: 3px;

            @media screen and (min-width: $tablet) {
                  visibility: hidden;
              }

        }
        a {
            color: white;
            transition: all 150ms ease-in-out;
            &:hover {
                color: $bg-lightBlue !important;
            }
        }
    }
    .navbar-nav {
        align-items: flex-end;
    }
    .dropdown {
        display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    }
    .dropdown-menu {
        background-color: $bg-blue !important;
        left: -150%;
        border: none;
        text-align: right;

        .dropdown-item {
            &:hover {
                color: black !important;
            }
        }
    }

}
