.form-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .user-icon {
        width: 75px;
        height: 75px;
        margin: 2rem auto;
        padding: 1rem;
        background-color: $bg-lightBlue;
        border-radius: 50%;
    }

    form {
        input:focus {
            background-color: $bg-lightBlue;
        }
    }

    hr {
        width: 80%;
        height: 2px;
        margin: auto;
    }
}
